/* start */
body{
  display: table;
  height: 100%;
  width: 100%;
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}


* {
  margin: 0;
  padding: 0;
}
a{
color:#fff;
text-decoration: none;
}

h1{
text-align: center;
}
/* Menu Pour Pc (General) ! */
nav {
  width: 100%;
  height: 80px;
  background-color: #35424a;
  display: block;
  position: relative;
}
.menu_list{
  float: right;
}
.menu_list li {
  list-style: none;
  padding: 10px;
  width: 150px;
  margin-top: 12px;
}
.itemN{
  height: 60px;
}
.droped ul li {
  list-style: none;
  /* margin-top: 12px; */

}
.droped ul li a{
  padding: 10px;
}
.menu_list {
  display: flex;
}

.menu_list li a,
.droped ul li a {
  text-decoration: none;
  padding: 20px 20px 30px 20px;
  font-family: 'Oswald', sans-serif;
  color: white;
}
.menu_list li ul {
  text-align: left;
  padding: 0;
}

.droped {
  left: 50px;
  right:50px;
  position: absolute;
  margin-top: 32px;
  display: none;
  background-color: #35424a;
  min-height: 300px;
}
.c1{
  width: 33.33%;
}
.c2{
  width: 50%;
}
.c3{
  width: 60%;
}
.c4{
  width: 20%;
}
.droped ul {
  margin: 0;
  box-sizing: border-box;
  background-color: #35424a;
  border-right: 4px solid #CA6DE8;
  float: left;
  height:300px;
}
.droped{
  opacity: 0.9;
}
.droped ul li {
  margin: 0;
  padding: 5px;
  width: 100%;
}
.ho4{
  background-color: black;
  color:white;
}

.droped ul li a:hover,
.menu_list li a:hover {
  color:#CA6DE8;
}

.menu_list li:hover .droped {
  display: block;
  z-index: 100;
}
.menu1_it:hover{
  border-bottom: 5px solid #CA6DE8;
  border-top:  3px solid #CA6DE8;
 
  opacity: 0.7;
}

/* Logo Du Menu  */
.LogoM{
  width: 400px;
  float: left;
  color: white;
}
.LogoM span h1{
  font-family: 'Karla', sans-serif;
  font-size: 35px;
  float: left;
  padding: 3px;
  letter-spacing: 4px;
}
.LogoM span h3{
  font-family: 'Russo One', sans-serif;
  font-size: 20px;
  text-justify: kashida;
  letter-spacing: 3px;  
}
.LogoP{
  width: 300px;
  height: 100px;
}
/* Image Lgog */
.LogoM img{
  height: 50px;
  width: 70px;
}
/* Slider ! */

a{
color:#fff;
text-decoration: none;
}

h1{
text-align: center;
}

.Mycontain{
width:100%;
margin:40px auto;
overflow:auto;
}

/* //changing the height of the carrousel  */



/* sous header ! */
/* bouttons du sous_header */
.Sousheader{
display: block;
  width: 100%;
  margin-bottom: 100px;
  position: relative;
  box-sizing: border-box;
}
.myMed{
float: left;
width: 70%;
position: relative; 
}
.boutonsC{
float: left;
  width: 30%;
  position: relative;
}
.boutonsC button{
  margin: 40px 20px;
  padding: 10px;
  position: relative;
  font-family: 'Oswald', sans-serif;
}
.boutonsC2 button{
  margin: 10px;
  padding: 10px;
  
  font-family: 'Oswald', sans-serif;
  color:white;
}
/* image logo du sous header */
.imgLogo{
  width: 20%;
  height:100px;

}

/* FOOTER  */
.footer{
  display: table-row;
  width: 100%;
  background-color: #35424a;
  color: white;
}
.p2,.p1{
  border-right: 2px solid #CA6DE8;
}
.p1,.p2,.p3{
  width:33.33%;
  float:left;
  padding: 12px;
  height: 200px;
  border-top: 10px solid #35424a;
  border-bottom:2px solid #CA6DE8;
}
.p1 table tr td,.p1 table tr th{
  width: 120px;
}
.p3 ul{
  list-style: none;
}
.p3 ul li a{
  color: #CA6DE8;
}
.p3 ul li a:hover{
  color: #CA6DE8;
}
.btn:hover{
  opacity: 0.5;
}
.p4{
  width: 100%;
  text-align: center;
  display: table-row;
  background-color:#35424a;
  color: white;
  border:4px solid #35424a;
}
.s-m a{
  width: 40px;
  height: 40px;
  background: #2c3e50;
  color: white;
  margin: 0 6px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  font-size: 22px;
}
.s-m a:hover{
  background: #e67e22;
}
.s-m a i{
  transition: 0.4s all;
}
.s-m a:hover > i{
  transform: scale(1.6) rotate(25deg);
}
/* Media queries */
@media screen and (max-width: 830px){
  #togB{
    margin:7px;
    padding: 1px;
  }
  .p1,.p2,.p3{
    width:100%;
    float: none;
    padding: 30px;
  }
}
@media screen and (max-width: 1200px){
  nav {
      width: 100%;
      height: 150px;
      background-color: #35424a;
      display: block;
  }
  .Mycontain{
    width:940px;
  }
  .slider-inner{
    width:900px;
    height:300px;
  }
  .slider-inner img{
    width:900px;
    height:300px;
  }
  .prev,.next{
    margin-top:150px;
  }
  .myMed{
    float: none;
    width: 100%;
    position: relative; 
  }
  .boutonsC{
    float: none;
      width: 100%;
      text-align: center;
      position: relative;
  }
}
/* toggle- menu pour mobile  */
.toggle i{
  cursor: pointer;
  color: #fff;
  line-height: 50px;
  font-size: 24px;
  display: none;
  z-index: 1000;
  float: right;
  margin-right: 30px;
}
.toggle i:hover{
  opacity: 0.5;
}
.SMobile{
margin: 0;
width:100%;
text-align: center;
background-color: #35424a;
display: none;
position: relative;
flex-direction: column;
overflow: scroll;
z-index: 100000;
}
.SMobile ul{
list-style: none;
}
.MobileStyle li a{
font-family: 'Oswald', sans-serif;
text-decoration: none;
margin-left: 10px;
font-size: 20px;

}
.MobileStyle li{
border-bottom: 2px solid#e8491d;
border-top: 2px solid #e8491d; 
padding: 20px;
}
.MobileStyle li a:hover{
color:#CA6DE8;
}
/* Media Mobile */
@media screen and (max-width:863px){
  nav {
    width: 100%;
    height:80px;
    background-color: 35424a;
    display: block;
    position: fixed;
    top: 0;
    z-index: 10009909;
}
.toggle i{
  display: block;
}
.menu_list{
    float: none;
    text-align: center;
    display: none;
}
.SMobile{
  display: inline-block;
  position: fixed;
  top:80px;
  height: 100%;
  overflow: scroll;
  z-index: 10009909;
  text-align: center;
  flex-direction: column;
  clip-path: circle(0px at 90% -10%);
  -webkit-clip-path:circle(0px at 90% -10%);
  transition: all 1s ease-out;
}
.SMobile.open{
  clip-path: circle(1000px at 90% -10%);
  -webkit-clip-path:circle(1000px at 90% -10%);
  pointer-events: all;
}
/* Slide */
.Mycontain{
  width:440px;
}

.slider-inner{
  width:400px;
  height:230px;
}

.slider-inner img{
  width:400px;
  height:230px;
}

.prev,.next{
  margin-top:120px;
}
.Sousheader{
    margin-top: 80px;
}
}
/* fomt awesome */
.myFa{
    text-align: center;
}
i{
  text-align: center;
}
.fa{
  display: none;
  transition: all 1s ease-out;
}
/* search bar */
.chercher{
text-align: center;
border-bottom: 2px solid #35424a;
}
.MyForm{
margin: 10px 30px;
}
.MyForm input{
width: 30
}
.MyForm p{
  margin: 10px 30px;
  float: left;
}
@media screen and (max-width: 470px){

.SMobile{
top:120px;
}   
}
 /* Pour btn de La page de se connecter */
 .login-box{

 
  background-color: #35424a;
  color: white;
}

.textbox input{
 
  background: none;
  color: white;
  font-size: 18px;
  margin: 5px 10px;
}
.btn{
  color:white;
}
#opin:hover{
  opacity:0.5;
}