
.welcomeAdmin tr td{

    margin:10px;
    padding: 20px;
}
.welcomeAdmin tr th{
   
    color:red;
    padding: 5px;
}
@media screen and (max-width:900px){
    .welcomeAdmin tr td,.welcomeAdmin tr th{
        float: left;
        text-align: center;
    }
}
/* contenu de news */
.iconC i{
    color:red;
    float: right;
}
.btn{
    color:white;
  }
 
  .dark{
    padding:15px;
    background:#35424a;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
  }
.placeRight{
    width: 30%;
    float: right;
    margin:20px;
}
.PlaceLeft{
    float:left;
    width:67%;
}
  aside#sidebar .quote input, aside#sidebar .quote textarea{
    width:90%;
    padding:5px;
  }
  #main-col{
    float:left;
    width:100%;
    margin-top:20px;
     background-color:#e6e6e6;
}
  @media screen and (max-width: 850px){
    .PlaceLeft{
        width:100%;
    }
    .placeRight{
        width: 90%;
        float: none;
        margin:10px;
        padding:20px;
        
    }
    #main-col{
        float:left;
        width:100%;
        margin-top:20px;
         background-color:#e6e6e6;
    }
}
.formAdmin{
  
    width: 50%;
    margin: 20px 20px;
    font-family: 'Oswald', sans-serif;
}
.formAdmin ul{
    list-style: none;
    font-family: 'Oswald', sans-serif;
}



/* article de new : */
/* formulaire de search */
.formi{
    border-bottom: 5px solid #35424a;
    background-color: #35424a;
    color: white;
}
.formi form{
    margin-left:30px;
    padding: 20px;
    text-align:center;
}
.formi table{
    width:100%;
}
.formi table tr td{
    width:50%;
    padding: 10px;
}

.select{
    border:2px solid #CA6DE8;
    background:none;
    width:90%;
    padding: 10px;
    color: black;
}
.selecta,.inputa{
    border:2px solid #CA6DE8;
    background:none;
    width:20%;
    padding: 10px;
    color: black;
}
@media(max-width: 768px){
    #boxes .box,
    article#main-col,
    aside#sidebar{
      float:left;
      text-align:center;
      width:100%;
    }
   
    .selecta,.inputa{
        
        width:90%;
    }
   
      /*page inscription  */